In [1]:
from libdvr.zap import tv_df_make, return_whats_on, whats_on_filtered

fav_chans = [4,7,23,36, 44]

In [2]:
df = tv_df_make()

Current timezone: CST

In [3]:
df.head()

,vchan,start,stop,title,sub-title,length
4957,2.1,2025-01-21 03:00:00-06:00,2025-01-21 04:00:00-06:00,All Creatures Great and Small on Masterpiece,Holding the Baby,60
4958,2.1,2025-01-21 04:00:00-06:00,2025-01-21 05:00:00-06:00,Vienna Blood,The Enemy Within,60
4959,2.1,2025-01-21 05:00:00-06:00,2025-01-21 05:30:00-06:00,NHK Newsline,ONE,30
4960,2.1,2025-01-21 05:30:00-06:00,2025-01-21 06:00:00-06:00,Classical Stretch: By Essentrics,Full Body Connective Tissue Workout With Miran...,30
11451,2.1,2025-01-24 06:00:00-06:00,2025-01-24 06:30:00-06:00,BBC News,ONE,30

In [4]:
# for i,r in df.iterrows():
#     print (r['vchan'], r['title'])

In [5]:
sdf = return_whats_on()

Current timezone: CST

In [6]:
sdf.head()

,vchan,start,stop,title,sub-title,length
3948,2.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,The Great American Recipe,Secrets and Staples,60
3953,2.2,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,DW News,ONE,30
3959,2.3,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Curious Traveler,Estonia's Curious Culture & Traditions,30
3965,2.4,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Odd Squad,A Dish Served Odd; Odd Jubilee,30
3969,2.6,2025-01-20 14:00:00-06:00,2025-01-20 18:00:00-06:00,Classical 24,ONE,240

In [7]:
for i,r in sdf.iterrows():
    print (r['vchan'], r['title'])

2.1 The Great American Recipe
2.2 DW News
2.3 Curious Traveler
2.4 Odd Squad
2.6 Classical 24
4.1 Dateline
4.2 The Steve Wilkos Show
4.3 Emergency!
4.4 Interview With a Killer
4.5 Criminal Minds
7.1 Washington Watch With Tony Perkins
7.1 Hardcore Pawn
7.11 To Be Announced
7.2 SIGN OFF
7.3 Jimmy Swaggart
7.4 Home Improvement
7.5 Rosewood
7.6 Tales of Wells Fargo
7.7 Hudson & Rex
7.8 To Be Announced
7.9 Happening Now in America
9.1 The Kelly Clarkson Show
9.2 NCIS: New Orleans
9.3 Home Improvement
9.4 Rosewood
11.1 KELOLAND News First at Four
11.2 Judy Justice
11.3 Criminal Minds
11.4 The Steve Wilkos Show
13.1 Dakota News Now at 4pm
13.2 Last Stand at Saber River
13.3 Emergency!
13.4 Homicide Hunter: Lt. Joe Kenda
13.5 Rizzoli & Isles
13.6 The Tom and Jerry Show
14.1 The Parkers
14.2 CSI: Miami
14.3 Grimm
14.4 Dog the Bounty Hunter
20.1 Elinor Wonders Why
20.2 Curious Traveler
20.3 The Bears on Pine Ridge
20.4 DW News
20.5 Odd Squad
20.6 Fit First
23.1 The Great American Recipe
23.2 DW News
23.3 Curious Traveler
23.4 Odd Squad
23.6 Classical 24
25.0 Wild Kratts
26.0 One America News
36.1 Access Daily With Mario & Kit
44.0 To Be Announced
44.1 FOX College Hoops Extra
44.2 Saturday Night Live
44.3 Judge Judy
46.1 The Kelly Clarkson Show
46.2 FOX College Hoops Extra
46.3 Hangin' With Mr. Cooper
46.4 Married ... With Children
46.5 Interview With a Killer
46.6 NCIS: New Orleans
53.0 Harvest With Pastor Greg Laurie

In [8]:
fav_chans = [4,7,23,36, 44]

In [9]:
fdf = whats_on_filtered(fav_chans)

Current timezone: CST
4.
7.
23.
36.
44.

In [10]:
fdf.head(40)

,vchan,start,stop,title,sub-title,length
3971,4.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Dateline,Recipe for Murder,60
3975,4.2,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,The Steve Wilkos Show,"Who's the Father? You, Your Nephew or My Man?",60
3978,4.3,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Emergency!,Back-Up,60
3982,4.4,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Interview With a Killer,Honor Killings,60
3985,4.5,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Criminal Minds,Hell's Kitchen,60
3988,7.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Washington Watch With Tony Perkins,ONE,60
3993,7.1,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Hardcore Pawn,The Outsider,30
3772,7.11,2025-01-20 14:00:00-06:00,2025-01-20 18:00:00-06:00,To Be Announced,ONE,240
3997,7.2,2025-01-20 13:00:00-06:00,2025-01-20 17:00:00-06:00,SIGN OFF,ONE,240
3999,7.3,2025-01-20 15:00:00-06:00,2025-01-20 17:00:00-06:00,Jimmy Swaggart,ONE,120
4004,7.4,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Home Improvement,Read My Hips,30
4008,7.5,2025-01-20 15:00:00-06:00,2025-01-20 18:00:00-06:00,Rosewood,Movie: 1997,180
4010,7.6,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Tales of Wells Fargo,Stage To Nowhere,30
4015,7.7,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Hudson & Rex,A Man of Consequence,60
4268,7.8,2025-01-20 14:00:00-06:00,2025-01-20 22:00:00-06:00,To Be Announced,ONE,480
4019,7.9,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Happening Now in America,ONE,60
4121,23.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,The Great American Recipe,Secrets and Staples,60
4126,23.2,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,DW News,ONE,30
4132,23.3,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Curious Traveler,Estonia's Curious Culture & Traditions,30
4138,23.4,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Odd Squad,A Dish Served Odd; Odd Jubilee,30
4142,23.6,2025-01-20 14:00:00-06:00,2025-01-20 18:00:00-06:00,Classical 24,ONE,240
4155,36.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Access Daily With Mario & Kit,ONE,60
3916,44.0,2025-01-20 14:00:00-06:00,2025-01-20 18:00:00-06:00,To Be Announced,ONE,240
4160,44.1,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,FOX College Hoops Extra,ONE,30
4163,44.2,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,Saturday Night Live,Kevin Hart; Sia,60
4166,44.3,2025-01-20 16:00:00-06:00,2025-01-20 16:30:00-06:00,Judge Judy,To Restrain or Not to Restrain ...; Ungrateful...,30

In [11]:
df = tv_df_make()

Current timezone: CST

In [14]:
df.columns

Index(['vchan', 'start', 'stop', 'title', 'sub-title', 'length'], dtype='object')

In [15]:
filtered_df = df[df['vchan'] == '11.1']

In [16]:
df = filtered_df

In [17]:
from datetime import datetime, time

def get_datetime_for_today_at_time(time_str):
  """
  Gets the datetime object for today at the specified time.

  Args:
    time_str: A string representing the time in the format 'HHMM' (e.g., '1700').

  Returns:
    A datetime object representing today's date with the specified time.
  """
  try:
    hour = int(time_str[:2])
    minute = int(time_str[2:])
    today = datetime.today()
    return datetime.combine(today, time(hour, minute))
  except ValueError:
    raise ValueError(f"Invalid time format: {time_str}. Expected format: 'HHMM'")

# Example usage:
time_str = '1700'
datetime_today = get_datetime_for_today_at_time(time_str)
print(datetime_today)

2025-01-20 17:00:00

In [25]:
now = datetime_today
type(now)

datetime.datetime

In [26]:
now = datetime.now()
local_timezone = now.astimezone().tzinfo
now_aware = datetime.now(local_timezone)
now = now_aware
filtered_df = df[(df['start'] <= now) & (now <= df['stop'])]
type

In [27]:
filtered_df.head()

,vchan,start,stop,title,sub-title,length
4036,11.1,2025-01-20 16:00:00-06:00,2025-01-20 17:00:00-06:00,KELOLAND News First at Four,ONE,60

In [43]:
def the_show(vchan, time_str):
    df = tv_df_make()
    df = df[df['vchan'] == vchan]
    
    datetime_today = get_datetime_for_today_at_time(time_str)
    aware_dt = datetime_today.replace(tzinfo=local_timezone) 
    now = aware_dt
    print(now)
    adf = df[(df['start'] <= now)]
    adf = adf[(adf['stop'] > now)]
    return adf

In [44]:
# now_aware = datetime_today(local_timezone)
aware_dt = datetime_today.replace(tzinfo=local_timezone) 
now = aware_dt
print(now)
filtered_df = df[(df['start'] <= now) & (now <= df['stop'])]

2025-01-20 17:00:00-06:00

filtered_df.head()

In [45]:
df.head()

,vchan,start,stop,title,sub-title,length
6090,11.1,2025-01-21 16:00:00-06:00,2025-01-21 17:00:00-06:00,KELOLAND News First at Four,ONE,60
6091,11.1,2025-01-21 17:00:00-06:00,2025-01-21 17:30:00-06:00,KELOLAND News at Five,ONE,30
6092,11.1,2025-01-21 17:30:00-06:00,2025-01-21 18:00:00-06:00,CBS Evening News With Norah O'Donnell,ONE,30
545,11.1,2025-01-18 21:00:00-06:00,2025-01-18 22:00:00-06:00,48 Hours,Unraveling the Case Against Melissa,60
546,11.1,2025-01-18 22:00:00-06:00,2025-01-18 22:30:00-06:00,KELOLAND Weekend News,ONE,30

In [46]:
df.head(100)

,vchan,start,stop,title,sub-title,length
6090,11.1,2025-01-21 16:00:00-06:00,2025-01-21 17:00:00-06:00,KELOLAND News First at Four,ONE,60
6091,11.1,2025-01-21 17:00:00-06:00,2025-01-21 17:30:00-06:00,KELOLAND News at Five,ONE,30
6092,11.1,2025-01-21 17:30:00-06:00,2025-01-21 18:00:00-06:00,CBS Evening News With Norah O'Donnell,ONE,30
545,11.1,2025-01-18 21:00:00-06:00,2025-01-18 22:00:00-06:00,48 Hours,Unraveling the Case Against Melissa,60
546,11.1,2025-01-18 22:00:00-06:00,2025-01-18 22:30:00-06:00,KELOLAND Weekend News,ONE,30
...,...,...,...,...,...,...
4531,11.1,2025-01-20 21:00:00-06:00,2025-01-20 22:00:00-06:00,CBS News: Inauguration Day in America,ONE,60
4532,11.1,2025-01-20 22:00:00-06:00,2025-01-20 22:35:00-06:00,KELOLAND News at Ten,ONE,35
4533,11.1,2025-01-20 22:35:00-06:00,2025-01-20 23:37:00-06:00,The Late Show With Stephen Colbert,Jon Favreau; Jon Lovett; Tommy Vietor; Jalen N...,62
4534,11.1,2025-01-20 23:37:00-06:00,2025-01-21 00:37:00-06:00,After Midnight,ONE,60
1586,11.1,2025-01-19 11:00:00-06:00,2025-01-19 13:00:00-06:00,College Basketball,Illinois at Michigan State,120

In [47]:
adf = df[(df['start'] <= now)]

In [48]:
adf = adf[(adf['stop'] > now)]

In [49]:
adf

,vchan,start,stop,title,sub-title,length
4037,11.1,2025-01-20 17:00:00-06:00,2025-01-20 17:30:00-06:00,KELOLAND News at Five,ONE,30

In [50]:
the_show('11.2', '1830')

Current timezone: CST
2025-01-20 18:30:00-06:00

,vchan,start,stop,title,sub-title,length
4294,11.2,2025-01-20 18:30:00-06:00,2025-01-20 19:00:00-06:00,Family Feud,ONE,30

In [52]:
the_show('46.1','1800')

Current timezone: CST
2025-01-20 18:00:00-06:00

,vchan,start,stop,title,sub-title,length
4414,46.1,2025-01-20 18:00:00-06:00,2025-01-20 18:30:00-06:00,NBC Nightly News With Lester Holt,ONE,30